[Desktop Entry]
Encoding=UTF-8
Name=Ovo Core
Comment=Ovo P2P Cryptocurrency
Comment[de]=Verbinde mit dem Ovo peer-to-peer Netzwerk
Comment[fr]=Ovo, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Ovo, eşten eşe kriptografik sanal para birimi
Exec=ovo-qt %u
Terminal=false
Type=Application
Icon=ovo128
MimeType=x-scheme-handler/ovo;
Categories=Office;Finance;
